.Navbar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    background-color: #525252;
    border-bottom: 2px solid;
    justify-content: space-between;
}

.NavbarUserDropdown{
    background-color: transparent !important;
    border-color: transparent !important;
}

.logoutButton{
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0;
}

.logoutButton:hover{
    background-color: silver !important;
}
